.unpunched-box{ border-radius: 5px; background: #666; border: 1px solid #666; color: #fff; padding: 1px 3px; font-size: 12px;display: inline-block;margin-bottom: 3px}
.table>thead>tr>th{background: #fafcff; padding: 5px 5px;border-bottom:none;color: #666;font-weight:bold;vertical-align: middle;text-align: center;}
.table>tbody>tr>td {padding: 5px 5px; border-top: #eee solid 1px;vertical-align: middle; text-align: center}
.tooltip .tooltip-inner{ background: #a94442 !important;}
.form-default{ padding-top: 7px;}
#fileList .file-item.thumbnail{ overflow: hidden;}
#showAppointment .form-group{
    margin-bottom: 0px;
}
@media only screen and (max-width:991px) {
    .form-default{ padding-top: 0px;}
}